@charset "UTF-8";

/* スクロールバーの有無で画面のガタつきを防ぐためのCSS */
body {
    overflow-y: scroll;
}

.top {
    margin-top: 76px;
}

.user {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.edit {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.sort {
    display: flex;
    justify-content: flex-end;
}

.title {
    width: 50%;
    margin-left: 10%;
    margin-bottom: 20px;
}

.textarea {
    width: 80%;
    margin: auto;
}

/* indexのボタンの整列 */
.wrapper {
    display: flex;
    justify-content: flex-end; /* ボタンを右寄せにする */
    width: 90%;
}

.wrapper-button {
    margin: 10px; /* ボタン間のスペースを確保 */
}